.content {
  	margin: auto;
  	max-width: 1100px;
}
.nav-content {
  	max-width: 1100px;
  	margin: auto;
}
body {
  	background-color: #fff;
  	font-size: 12pt;
}
.section-margin {
	margin: 500px auto;
}
img.icon1{
	left: 0px;
}
a {
	text-decoration: none;
	color: #fff;
	padding: 0 10px;
}
.heading {
	position: relative;
	padding: 500px 400px;
}
/* Bellow is left image header and product styles */

img.left-img {
	position:relative;
	left: -100px;
	padding: 50px 20px;
	transition: 6s;
    -webkit-transition: 6s; /* Safari 3.1 to 6.0 */
}
.left-to-right {
    margin-left: 400px;
}
/* Bellow is right P styles */
.right-text {
	position: relative;
	top: -500px;
	min-width: 550px;
	margin-left: 3500px;
	padding: 50px 20px;
	transition: 5s;
    -webkit-transition: 5s; /* Safari 3.1 to 6.0 */
}
.right-to-left {
	position: relative;
	margin-left: 3000px;
}
/* Bellow is year styles */
.year {
	position: relative;
	left: 325px;	
	top: -400px;
	font-size: 5.0em;
	font-weight: 800;
}
.right-to-left-year {
	position: relative;
	float: right;
	margin-right: 200px;
    padding: 50px 20px;
	transition: 4s;
    -webkit-transition: 4s; /* Safari 3.1 to 6.0 */
}